@import 'settings-panel.css';
@import "https://fonts.googleapis.com/css?family=Raleway:900,800,700,600,400,300,200,100";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:700,600,400";
body {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
    .boxed {
        width: 98%;
        max-width: 1250px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        .navbar {
            width: 100%;
            max-width: 1250px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    h1,
    h2,
    h4,
    .h1,
    .h2,
    .h4 {
        font-family: raleway, sans-serif;
        text-transform: uppercase;
        color: #4b4741;
        text-align: center;
        font-weight: 800;
    }
    a,
    a:hover {
        text-decoration: none;
    }
    html {
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
    }
    .navbar-static-top {
        background-color: #000;
    }
    .navbar {
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;
        z-index: 50;
        margin: 0;
        transition: 0.4s;
        .navbar-nav>li>a {
            color: #ececec;
            text-transform: uppercase;
            padding: 25px 15px;
            font-weight: 700;
            font-size: 13px;
            font-family: raleway, sans-serif;
            transition: all 0.5s ease;
            float: none;
            &:hover,
            &:active {
                background-color: inherit !important;
                color: #f9c56a;
            }
            &:focus {
                background-color: inherit !important;
            }
        }
        .navbar .navbar-brand {
            padding: 18px 0;
        }
        .cart-number {
            background: #f9c56a;
            float: left;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 17px;
            border-radius: 50%;
            color: #000 !important;
            margin-right: 5px;
        }
        .navbar-toggle .icon-bar {
            background-color: #fff;
        }
    }
    .nav .open>a,
    .nav .open>a:hover {
        background-color: inherit !important;
        color: #f9c56a;
    }
    .nav .open>a:focus {
        background-color: inherit !important;
    }
    .dropdown-menu {
        background-color: rgba(0, 0, 0, 0.85);
        transition: all 0.25s ease;
        .divider {
            background-color: #4f4f4e;
        }
        li {
            position: relative;
            .dropdown-menu {
                top: 0;
                left: 99%;
                min-width: 200px;
            }
            &:hover .dropdown-menu {
                display: block;
            }
            a {
                transition: all 0.5s ease;
                color: #c5c5c5;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                font-family: raleway, sans-serif;
                padding: 7px 30px;
                &:hover,
                &:focus,
                &:active {
                    background-color: inherit !important;
                    color: #f9c56a;
                }
            }
        }
    }
    .home {
        position: relative;
        height: 100vh;
        width: 100%;
        background: url(../images/bg2.png) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        .tittle-block {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            .logo {
                text-align: center;
            }
            h1 {
                color: #fff;
                font-size: 72px
            }
            h2 {
                text-transform: none;
                font-weight: 400;
                color: #e6e6e6;
                font-size: 36px
            }
        }
        .scroll-down {
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%)
        }
        @media(max-width:768px) {
            .home .tittle-block img {
                height: 200px
            }
            .home .tittle-block h1 {
                font-size: 42px
            }
            .home .tittle-block h2 {
                font-size: 24px
            }
        }
    }
    .dropdown .caret,
    .caret-right {
        margin-left: 5px;
    }
    .caret-right {
        border-bottom: 4px solid transparent;
        border-top: 4px solid transparent;
        border-left: 4px solid;
        display: inline-block;
        height: 0;
        width: 0;
    }
    .cart-content {
        min-width: 300px;
        padding: 0;
        .cart-title {
            border-top: 2px solid #f9c56a;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            padding: 15px;
            h4 {
                margin: 0;
                color: #fff;
                text-align: left;
            }
        }
        .cart-items .cart-item {
            padding: 15px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        .cart-item-image {
            float: left;
            margin-right: 15px;
        }
    }
    .cart-item-desc {
        position: relative;
        a {
            display: block;
            text-decoration: none;
            color: #ececec;
            font-weight: 700;
            font-family: Josefin Sans;
            font-size: 15px;
            &:hover {
                color: #f9c56a;
            }
        }
        .ci-close {
            font-size: 13px;
            color: #555;
            position: absolute;
            top: -6px;
            right: -4px;
            cursor: pointer;
            &:hover {
                color: #999;
            }
        }
    }
    .cart-item-price {
        color: #c5c5c5;
        font-size: 13px;
        font-family: raleway, sans-serif;
    }
    .cart-item-quantity {
        color: #c5c5c5;
        font-size: 13px;
        font-family: raleway, sans-serif;
        position: relative;
        right: 0;
        top: 0;
    }
    .cart-action {
        padding: 15px;
        .checkout-price {
            line-height: 40px;
            font-weight: 500;
            font-size: 22px;
            font-family: raleway, sans-serif;
        }
        .btn {
            border-radius: 0;
            border: none;
            font-family: raleway, sans-serif;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 700;
            padding: 10px 15px;
        }
        .btn-default {
            background-color: #f9c56a;
            &:hover {
                background-color: #f7b239;
                border-color: #f7b239;
            }
        }
    }
    @media (max-width: 992px) {
        .pricing {
            margin-bottom: 30px;
        }
        .navbar-header {
            float: none;
        }
        .navbar-left,
        .navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none !important;
        }
        .navbar-nav {
            float: none !important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .collapse.in {
            display: block !important;
        }
        .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .navbar-nav .open .dropdown-menu.cart-content {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: #000;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
            margin-bottom: -10px;
        }
        .navbar .navbar-brand {
            padding: 8px 0 8px 15px;
        }
    }
}

.bg-wood_pattern {
    background: #fff url(../images/wood_pattern.png);
}

.bg-shattered {
    background: #fff url(../images/shattered.png);
}

.bg-random-grey-variations {
    background: #fff url(../images/random_grey_variations.png);
}

.bg-irongrip {
    background: #fff url(../images/irongrip.png);
}

.bg-gplaypattern {
    background: #fff url(../images/gplaypattern.png);
}

.bg-diamond_upholstery {
    background: #fff url(../images/diamond_upholstery.png);
}

.bg-denim {
    background: #fff url(../images/denim.png);
}

.bg-crissXcross {
    background: #fff url(../images/crissXcross.png);
}

.bg-climpek {
    background: #fff url(../images/climpek.png);
}

.bg-vichy {
    background: #fff url(../images/vichy.png);
}