
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-ưflex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
body {

    height                    : 100%;
    overflow-y                : scroll;
    -webkit-overflow-scrolling: touch
}

h1 {
    font-family   : raleway, sans-serif;
    text-transform: uppercase;
    color         : #4b4741;
    text-align    : center;
    font-weight   : 800
}

.small,
small {
    font-family   : josefin sans, sans-serif;
    font-weight   : 700;
    display       : block !important;
    text-transform: none;
    text-align    : center;
    margin        : 10px 0 15px
}



.black {
    color: #4b4741
}

.page-header {
    border: none;
    margin: 80px 0 40px
}

.page-header:after {
    content         : "";
    display         : block;
    position        : relative;
    height          : 3px;
    width           : 113px;
    background-color: #f9c56a;
    margin          : 0 auto
}

p {
    font-family: josefin sans, sans-serif;
    color      : #828281;
    font-size  : 22px
}

a,
a:hover {
    text-decoration: none
}

html {
    text-rendering        : optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important
}



.btn {
    border-radius : 0;
    border        : none;
    font-family   : raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight   : 700;
    padding       : 10px 15px
}

.btn-default {
    background-color: #f9c56a
}

.btn-default:hover {
    background-color: #f7b239
}


//footer

.footer {
    background             : url(../img/bg6.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover
}

.footer .container {
    padding-bottom: 44px
}

.footer-copyrights .container {
    padding-bottom: 0
}

.footer h1 {
    color     : #f9c56a;
    font-size : 18px;
    text-align: left;
    margin    : 60px 0 26px
}

.footer p {
    color    : #fff;
    font-size: 18px
}

.footer-address p {
    color    : #bcbcbc;
    font-size: 17px
}

.contact-info p {
    color    : #6b6b6b;
    font-size: 18px
}

.footer a {
    color          : #f9c56a;
    text-decoration: none
}

.footer a:hover {
    color: #999
}

.footer .footer-blog {
    margin-bottom: 27px
}

.footer .footer-blog.last {
    margin-bottom: 0
}

.footer .footer-blog img:hover {
    cursor            : pointer;
    -webkit-transition: all 0.7s ease;
    -transiton        : all 0.5s ease;
    -webkit-transform : scale(1.1);
    transform         : scale(1.1);
}

.footer .footer-blog img {

    float       : left;
    margin-right: 15px
}

.footer .footer-blog .footer-blog-text {
    font-weight: 700;
    font-size  : 17px;
    margin-top : -4px !important
}

.footer .footer-blog .footer-blog-text:hover {
    color: #f9c56a
}

.footer .footer-blog .footer-blog-date {
    font-size  : 14px;
    color      : #828281;
    font-weight: 700;
    margin     : 0
}

.footer .footer-social-icons {
    background   : rgba(0, 0, 0, .2);
    padding      : 6px 7px 7px;
    margin-bottom: 25px;
    display      : table
}

.footer .footer-social-icons a {
    padding         : 9px 0 6px;
    margin-right    : 0 1px;
    color           : #fff;
    background-color: #343434;
    border-radius   : 2px;
    width           : 35px;
    height          : 38px;
    display         : inline-block;
    text-align      : center;
    font-size       : 17px
}

.footer .footer-social-icons a:hover {
    background: #f9c56a;
    color     : #343434
}

.footer-address .fa {
    margin-right: 10px;
    color       : #f9c56a;
    width       : 18px;
    text-align  : center
}

.footer .footer-copyrights {
    text-align      : center;
    background-color: #1c1c1e
}

.footer .footer-copyrights p {
    margin   : 30px 0;
    color    : #b5b5b4;
    font-size: 16px
}

//trusted
.trusted .page-header {
    margin: 30px 0 20px
}
.trusted .trusted-sponsors img{
    cursor: pointer;
}
.trusted .trusted-sponsors {
    text-align   : center;
    margin-bottom: 50px
}

.trusted .trusted-sponsors a {
    margin: 0 10px
}

.trusted .trusted-quote {
    background             : url(../img/bg5.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    text-align             : center;
    color                  : #fff;
    padding                : 60px 0
}

.trusted-quote .quote-body {
    color    : #fff;
    margin   : 20px 0;
    font-size: 31px
}

.trusted-quote .quote-author {
    color    : #fff;
    margin   : 20px 0;
    font-size: 26px
}

.trusted-quote .quote-author {
    font-weight: 700
}

.trusted-quote .quote-author span {
    display    : inline;
    font-weight: 400;
    font-size  : 18px
}

.trusted-quote img {
    padding-bottom: 20px;
    margin        : 0 auto
}

//subscribe
.subscribe {
    padding   : 30px 0;
    background: #f7f3f4
}

.subscribe h1 {
    font-weight: 300;
    text-align : left;
    margin     : 0;
    float      : left;
    line-height: 45px;
    font-size  : 45px
}

.subscribe p {
    float      : left;
    margin     : 5px 0 0 40px;
    line-height: 35px
}

.subscribe form {
    float: right
}

.subscribe form .btn .fa {
    font-size: 34px;
    padding  : 0 8px;
    position : relative;
    top      : -2px;
    left     : 2px
}

.subscribe input {
    border     : 2px solid #f9c56a !important;
    background : #fff none repeat scroll 0% 0%;
    margin     : 0 20px;
    width      : 263px !important;
    line-height: 42px;
    height     : 46px
}

.subscribe .btn-default {
    padding           : 0 15px;
    height            : 46px;
    border            : 1px solid #f2ba57;
    -webkit-transition: all .5s ease;
    -o-transition     : all .5s ease;
    transition        : all .5s ease
}


//ins
@media(max-width:1200px) {

    .subscribe h1,
    .subscribe p,
    .subscribe form {
        float     : none;
        text-align: center
    }

    .subscribe p {
        margin-left: 0;
        margin-top : 10px
    }

    .subscribe form {
        width     : 100%;
        margin-top: 10px
    }

    .subscribe input {
        margin-left: 0
    }

    .subscribe .form-inline .form-group {
        display: inline-block
    }
}
#instafeed .owl-carousel .owl-item img {
    width : 150px;
    height: 150px
}




